<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="conge">
      <h2>
        <span jhiTranslate="congeManagement.detail.title">Utilisateur</span> [<strong>{{ conge.id }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="congeManagement.dateDebut">Prénom</span></dt>
        <dd>{{ conge.dateDebut }}</dd>

        <dt><span jhiTranslate="congeManagement.dateFin">Nom</span></dt>
        <dd>{{ conge.dateFin }}</dd>

        <dt><span jhiTranslate="congeManagement.vld">vld</span></dt>
        <dd *ngIf="conge.vld == -1">Non validé</dd>
        <dd *ngIf="conge.vld == 0">En attente</dd>
        <dd *ngIf="conge.vld == 1">Validé</dd>

        <dt><span jhiTranslate="congeManagement.notes">Langue</span></dt>
        <dd>{{ conge.notes }}</dd>

        <dt><span jhiTranslate="congeManagement.type">Type</span></dt>
        <dd>{{ conge.type }}</dd>

        <dt><span jhiTranslate="congeManagement.telephone">telephone</span></dt>
        <dd>{{ conge.telephone }}</dd>

        <dt><span jhiTranslate="congeManagement.address">address</span></dt>
        <dd>{{ conge.address }}</dd>

        <dt><span jhiTranslate="congeManagement.user">user</span></dt>
        <dd>{{ conge.user }}</dd>

        <dt><span jhiTranslate="congeManagement.createdBy">Créé par</span></dt>
        <dd>{{ conge.createdBy }}</dd>

        <dt><span jhiTranslate="congeManagement.createdDate">Créé le</span></dt>
        <dd>{{ conge.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span jhiTranslate="congeManagement.lastModifiedBy">Modifié par</span></dt>
        <dd>{{ conge.lastModifiedBy }}</dd>

        <dt><span jhiTranslate="congeManagement.lastModifiedDate">Modifié le</span></dt>
        <dd>{{ conge.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>
    </div>
  </div>
</div>
