<div>
  <h2>
    <span data-cy="demandesEnCoursPageHeading" id="demande-conge-page-heading" jhiTranslate="demandesEnCours.home.title"
    >Demande congés</span
    >

    <div class="d-flex justify-content-end">
      <button (click)="loadAll()" [disabled]="isLoading" class="btn btn-info me-2">
        <fa-icon [spin]="isLoading" icon="sync"></fa-icon>
        <span jhiTranslate="demandesEnCours.home.refreshListLabel">Actualiser la liste</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="demandes" class="row">
    <div *ngIf="demandes.length == 0" class="card text-xxl-center col-lg-10" jhiTranslate="demandesEnCours.empty">
      No active demandes
    </div>
    <div *ngIf="demandes.length > 0" class="table-responsive col-lg-10">
      <table aria-describedby="conge-Management-page-heading" class="table table-striped">
        <thead>
        <tr (sortChange)="transition()" [(ascending)]="ascending" [(predicate)]="predicate" jhiSort>
          <th jhiSortBy="id" scope="col">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="dateDebut" scope="col">
            <span jhiTranslate="congeManagement.dateDebut">Date debut</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="dateFin" scope="col">
            <span jhiTranslate="congeManagement.dateFin">Date fin</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="user" scope="col">
            <span jhiTranslate="congeManagement.user">User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="type" scope="col">
            <span jhiTranslate="congeManagement.type">Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="vld" scope="col">
            <span jhiTranslate="congeManagement.vld">Vld</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th jhiSortBy="createdDate" scope="col">
            <span jhiTranslate="congeManagement.createdDate">Créé le</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngIf="demandes">
        <tr *ngFor="let demande of demandes; trackBy: trackIdentity">
          <td>
            <a [routerLink]="['./', demande.id, 'view']">{{ demande.id }}</a>
          </td>
          <td>{{ demande.dateDebut }}</td>
          <td>{{ demande.dateFin }}</td>

          <td>{{ demande.user }}</td>
          <td>{{ demande.type }}</td>

          <td *ngIf="demande.vld == 0">en attente</td>
          <td *ngIf="demande.vld == 1">Validé</td>
          <td *ngIf="demande.vld == -1">Non Validé</td>

          <td>{{ demande.createdBy }}</td>
          <td>{{ demande.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ demande.lastModifiedBy }}</td>
          <td>{{ demande.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button [routerLink]="['./', demande.id, 'view']" class="btn btn-info btn-sm" type="submit">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button (click)="validate(demande)" class="btn btn-primary btn-sm" type="button">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.validate">Validate</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            <fa-icon icon="users"></fa-icon>
            <span jhiTranslate="demandesEnCours.supervisee">Supervisee</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
