<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" jhiTranslate="typeManagement.home.createOrEditLabel">Créer ou éditer un utilisateur</h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="mb-3" [hidden]="!editForm.value.id">
        <label jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" name="id" formControlName="id" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label" jhiTranslate="typeManagement.code">Login</label>
        <input type="text" class="form-control" name="code" formControlName="code" />

        <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" jhiTranslate="typeManagement.libFr">Prénom</label>
        <input type="text" class="form-control" name="libFr" formControlName="libFr" />

        <div *ngIf="editForm.get('libFr')!.invalid && (editForm.get('libFr')!.dirty || editForm.get('libFr')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('libFr')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            Ce champ doit faire moins de 50 caractères.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label jhiTranslate="typeManagement.libAr">Nom</label>
        <input type="text" class="form-control" name="libAr" formControlName="libAr" />

        <div *ngIf="editForm.get('libAr')!.invalid && (editForm.get('libAr')!.dirty || editForm.get('libAr')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('libAr')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            Ce champ doit faire moins de 50 caractères.
          </small>
        </div>
      </div>

      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
      </button>
    </form>
  </div>
</div>
