<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" jhiTranslate="soldeManagement.home.createOrEditLabel">Créer ou éditer un utilisateur</h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="mb-3" [hidden]="!editForm.value.id">
        <label jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" name="id" formControlName="id" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label" jhiTranslate="soldeManagement.solde">solde</label>
        <input type="number" class="form-control" name="solde" formControlName="solde" />

        <div *ngIf="editForm.get('solde')!.invalid && (editForm.get('solde')!.dirty || editForm.get('solde')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('solde')?.errors?.required" jhiTranslate="entity.validation.required">
            Ce champ est obligatoire.
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" jhiTranslate="soldeManagement.year">Year</label>
        <input type="number" class="form-control" name="year" formControlName="year" />

        <div *ngIf="editForm.get('year')!.invalid && (editForm.get('year')!.dirty || editForm.get('year')!.touched)"></div>
      </div>

      <div class="mb-3">
        <label jhiTranslate="soldeManagement.user">Nom</label>
        <input type="text" class="form-control" name="user" formControlName="user" />

        <div *ngIf="editForm.get('user')!.invalid && (editForm.get('user')!.dirty || editForm.get('user')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('user')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            Ce champ doit faire moins de 50 caractères.
          </small>
        </div>
      </div>

      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
      </button>
    </form>
  </div>
</div>
