<div>
  <div *ngIf="soldes">
    <h2 jhiTranslate="congeManagement.solde.title">solde congé</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th jhiTranslate="congeManagement.solde.year">Année</th>
          <th jhiTranslate="congeManagement.solde.solde">Solde</th>
        </tr>
        </thead>
        <tbody *ngIf="soldes">
        <tr *ngFor="let solde of soldes">
          <td>{{ solde.year }}</td>
          <td>{{ solde.solde }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h2>
    <span data-cy="congeManagementPageHeading" id="conge-management-page-heading"
          jhiTranslate="congeManagement.home.title"
    >Demande congés</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="congeManagement.home.refreshListLabel">Actualiser la liste</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="congeManagement.home.createLabel">Créer une nouvelle demande</span>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="demandeConges">
    <table class="table table-striped" aria-describedby="conge-Management-page-heading">
      <thead>
      <tr (sortChange)="transition()" [(ascending)]="ascending" [(predicate)]="predicate" jhiSort>
        <th jhiSortBy="id" scope="col">
          <span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="dateDebut" scope="col">
          <span jhiTranslate="congeManagement.dateDebut">Date debut</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="dateFin" scope="col">
          <span jhiTranslate="congeManagement.dateFin">Date fin</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="type" scope="col">
          <span jhiTranslate="congeManagement.type">Type</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="vld" scope="col">
          <span jhiTranslate="congeManagement.vld">Vld</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="createdDate" scope="col">
          <span jhiTranslate="congeManagement.createdDate">Créé le</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="demandeConges">
      <tr *ngFor="let demande of demandeConges; trackBy: trackIdentity">
        <td>
          <a [routerLink]="['./', demande.id, 'view']">{{ demande.id }}</a>
        </td>
        <td>{{ demande.dateDebut }}</td>
        <td>{{ demande.dateFin }}</td>

        <td>{{ demande.type }}</td>

        <td *ngIf="demande.vld == 0" jhiTranslate="congeManagement.value.vld0">En attente</td>
        <td *ngIf="demande.vld == 1" jhiTranslate="congeManagement.value.vld1">Validé</td>
        <td *ngIf="demande.vld == -1" jhiTranslate="congeManagement.value.vld2">Non Validé</td>

        <td>{{ demande.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button [routerLink]="['./', demande.id, 'view']" class="btn btn-info btn-sm" type="submit">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
            </button>

            <button [disabled]="demande.vld == 1 || demande.vld == -1" [routerLink]="['./', demande.id, 'edit']"
                    class="btn btn-primary btn-sm" queryParamsHandling="merge"
                    type="submit">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
            </button>

            <button (click)="deleteDemandeConge(demande)" [disabled]="demande.vld == 1 || demande.vld == -1"
                    class="btn btn-danger btn-sm" type="submit">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="demandeConges">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
