<div>
  <h2>
    <span id="conge-management-page-heading" jhiTranslate="congeManagement.home.title" data-cy="congeManagementPageHeading"
      >Demande congés</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="congeManagement.home.refreshListLabel">Actualiser la liste</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="congeManagement.home.createLabel">Créer une nouvelle demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="demandeConges">
    <table class="table table-striped" aria-describedby="conge-Management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="congeManagement.dateDebut">Date debut</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="congeManagement.dateFin">Date fin</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
          <th scope="col" jhiSortBy="user">
            <span jhiTranslate="congeManagement.user">User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th jhiSortBy="type" scope="col">
            <span jhiTranslate="congeManagement.type">Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="congeManagement.createdDate">Créé le</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="congeManagement.address">Address</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="congeManagement.telephone">Telephone</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes">
            <span jhiTranslate="congeManagement.notes">Notes</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vld">
            <span jhiTranslate="congeManagement.vld">Vld</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="congeManagement.lastModifiedBy">Modifié par</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="congeManagement.lastModifiedDate">Modifié le</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="demandeConges">
        <tr *ngFor="let demande of demandeConges; trackBy: trackIdentity">
          <td>
            <a [routerLink]="['./', demande.id, 'view']">{{ demande.id }}</a>
          </td>
          <td>{{ demande.dateDebut }}</td>
          <td>{{ demande.dateFin }}</td>

          <td>{{ demande.user }}</td>
          <td>{{ demande.type }}</td>

          <td>{{ demande.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ demande.address }}</td>
          <td>{{ demande.telephone }}</td>
          <td>{{ demande.notes }}</td>

          <td *ngIf="demande.vld == 0">En attente</td>
          <td *ngIf="demande.vld == 1">Validé</td>
          <td *ngIf="demande.vld == 2">Non Validé</td>

          <td>{{ demande.lastModifiedBy }}</td>
          <td>{{ demande.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', demande.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['./', demande.id, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="button" (click)="deleteDemandeConge(demande)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="demandeConges">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
