<form (ngSubmit)="validate(demande.id!)" *ngIf="demande" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.validate.title">Confirmation de validation</h4>

    <button (click)="cancel()" aria-hidden="true" class="btn-close" data-dismiss="modal" type="button">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p [translateValues]="{ id: demande.id }" jhiTranslate="congeManagement.validate.question">
      Valider la demande {{ demande.id }}
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button class="btn btn-done" type="submit">
      <fa-icon icon="check"></fa-icon>
      <span jhiTranslate="entity.action.validate">Valider</span>
    </button>

    <button (click)="refuse(demande.id!)" class="btn btn-danger" type="button">
      <fa-icon icon="times"></fa-icon>
      <span jhiTranslate="entity.action.refuse">Refuser</span>
    </button>
  </div>
</form>
