<div>
  <h2>
    <span data-cy="userManagementPageHeading" id="user-management-page-heading"
          jhiTranslate="userManagement.home.title">Utilisateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="userManagement.home.refreshListLabel">Actualiser la liste</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="userManagement.home.createLabel">Créer un nouvel utilisateur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="users">
    <table aria-describedby="user-management-page-heading" class="table table-hover">
      <thead>
      <tr (sortChange)="transition()" [(ascending)]="ascending" [(predicate)]="predicate" jhiSort>
        <th jhiSortBy="id" scope="col"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="login" scope="col"><span jhiTranslate="userManagement.login">Login</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="email" scope="col"><span jhiTranslate="userManagement.email">Email</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
        <th jhiSortBy="langKey" scope="col"><span jhiTranslate="userManagement.langKey">Langue</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"><span jhiTranslate="userManagement.profiles">Droits</span></th>
        <th jhiSortBy="createdDate" scope="col">
          <span jhiTranslate="userManagement.createdDate">Créé le</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="lastModifiedBy" scope="col">
          <span jhiTranslate="userManagement.lastModifiedBy">Modifié par</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="lastModifiedDate" scope="col">
          <span jhiTranslate="userManagement.lastModifiedDate">Modifié le</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="users">
      <tr *ngFor="let user of users; trackBy: trackIdentity">
        <td>
          <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
        </td>
        <td>{{ user.login }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            (click)="setActive(user, true)"
            *ngIf="!user.activated"
            class="btn btn-danger btn-sm"
            jhiTranslate="userManagement.deactivated"
          >
            Désactivé
          </button>
          <button
            (click)="setActive(user, false)"
            *ngIf="user.activated"
            [disabled]="!currentAccount || currentAccount.login === user.login"
            class="btn btn-success btn-sm"
            jhiTranslate="userManagement.activated"
          >
            Activé
          </button>
        </td>
        <td>{{ user.langKey }}</td>
        <td>
          <div *ngFor="let authority of user.authorities">
            <span class="badge bg-info">{{ authority }}</span>
          </div>
        </td>
        <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
        <td>{{ user.lastModifiedBy }}</td>
        <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm" type="submit">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
            </button>

            <button [routerLink]="['./', user.login, 'edit']" class="btn btn-primary btn-sm" queryParamsHandling="merge"
                    type="submit">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
            </button>

            <button
              (click)="deleteUser(user)"
              [disabled]="!currentAccount || currentAccount.login === user.login"
              class="btn btn-danger btn-sm"
              type="button"
            >
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
