<nav class="navbar navbar-light navbar-expand-lg" data-cy="navbar">
  <div class="container-fluid">
    <a (click)="collapseNavbar()" class="navbar-brand logo" routerLink="/">
      <span class="logo-img"></span>
      <span class="navbar-title" jhiTranslate="global.title">Self Service Center</span>
    </a>
    <a
      (click)="toggleNavbar()"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler d-lg-none"
      data-target="#navbarResponsive"
      data-toggle="collapse"
      href="javascript:void(0);"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div [ngSwitch]="account !== null" [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse collapse"
         id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
          <a (click)="collapseNavbar()" class="nav-link" routerLink="/">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">home</span>
            </span>
          </a>
        </li>
        <li
          *ngSwitchCase="true"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item dropdown pointer"
          display="dynamic"
          ngbDropdown
          routerLinkActive="active"
        >
          <a class="nav-link dropdown-toggle" data-cy="services" href="javascript:void(0);" id="services-menu"
             ngbDropdownToggle>
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span jhiTranslate="global.menu.services.main">Services</span>
            </span>
          </a>
          <ul aria-labelledby="services-menu" class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="service/conge-management"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="users"></fa-icon>
                <span jhiTranslate="global.menu.services.congesManagement">Gestion des congés</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="service/demandes-en-cours"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                <span jhiTranslate="global.menu.services.demandesEnCours">Demandes en cours</span>
              </a>
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_RH'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item dropdown pointer"
          display="dynamic"
          ngbDropdown
          routerLinkActive="active"
        >
          <a class="nav-link dropdown-toggle" data-cy="rhMenu" href="javascript:void(0);" id="rh-menu"
             ngbDropdownToggle>
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.rh.main">Administration</span>
            </span>
          </a>
          <ul aria-labelledby="rh-menu" class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="rh/demande-conge"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                <span jhiTranslate="global.menu.rh.demandeConge">Gestion des utilisateurs</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="rh/year-management"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="calendar-alt"></fa-icon>
                <span jhiTranslate="global.menu.rh.yearManagement">year</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="rh/solde-management"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                <span jhiTranslate="global.menu.rh.soldeManagement">solde</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="rh/statistics"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                <span jhiTranslate="global.menu.rh.statistics">Statistiques</span>
              </a>
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item dropdown pointer"
          display="dynamic"
          ngbDropdown
          routerLinkActive="active"
        >
          <a class="nav-link dropdown-toggle" data-cy="adminMenu" href="javascript:void(0);" id="admin-menu"
             ngbDropdownToggle>
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul aria-labelledby="admin-menu" class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/user-management"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="users"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">Gestion des utilisateurs</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/type-conge-management"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                <span jhiTranslate="global.menu.admin.typeCongeManagement">type congé</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="tachometer-alt"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Métriques</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/health" routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="heart"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Diagnostics</span>
              </a>
            </li>
            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/configuration"
                 routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="cogs"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>

            <li>
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/logs" routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="tasks"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/docs" routerLinkActive="active">
                <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="languages && languages.length > 1" class="nav-item dropdown pointer" display="dynamic" ngbDropdown>
          <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="languagesnavBarDropdown" ngbDropdownToggle>
            <span>
              <fa-icon icon="flag"></fa-icon>
              <span jhiTranslate="global.menu.language">Langue</span>
            </span>
          </a>
          <ul aria-labelledby="languagesnavBarDropdown" class="dropdown-menu" ngbDropdownMenu>
            <li *ngFor="let language of languages">
              <a
                (click)="changeLanguage(language); collapseNavbar()"
                [jhiActiveMenu]="language"
                class="dropdown-item"
                href="javascript:void(0);"
              >{{ language | findLanguageFromKey }}</a
              >
            </li>
          </ul>
        </li>
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item dropdown pointer"
          display="dynamic"
          ngbDropdown
          routerLinkActive="active"
        >
          <a class="nav-link dropdown-toggle" data-cy="accountMenu" href="javascript:void(0);" id="account-menu"
             ngbDropdownToggle>
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Compte</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" alt="Avatar" class="profile-image rounded-circle"/>
            </span>
          </a>
          <ul aria-labelledby="account-menu" class="dropdown-menu" ngbDropdownMenu>
            <li *ngSwitchCase="true">
              <a
                (click)="collapseNavbar()"
                class="dropdown-item"
                data-cy="settings"
                routerLink="account/settings"
                routerLinkActive="active"
              >
                <fa-icon [fixedWidth]="true" icon="wrench"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Profil</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                (click)="collapseNavbar()"
                class="dropdown-item"
                data-cy="passwordItem"
                routerLink="account/password"
                routerLinkActive="active"
              >
                <fa-icon [fixedWidth]="true" icon="lock"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Mot de passe</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a (click)="logout()" class="dropdown-item" data-cy="logout" id="logout">
                <fa-icon [fixedWidth]="true" icon="sign-out-alt"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Déconnexion</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a (click)="login()" class="dropdown-item" data-cy="login" id="login">
                <fa-icon [fixedWidth]="true" icon="sign-in-alt"></fa-icon>
                <span jhiTranslate="global.menu.account.login">S'authentifier</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                (click)="collapseNavbar()"
                class="dropdown-item"
                data-cy="register"
                routerLink="account/register"
                routerLinkActive="active"
              >
                <fa-icon [fixedWidth]="true" icon="user-plus"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Créer un compte</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
