<div>
  <h2>
    <span data-cy="soldeManagementPageHeading" id="solde-management-page-heading"
          jhiTranslate="soldeManagement.home.title"
    >Utilisateurs</span
    >

    <div class="d-flex justify-content-end">
      <button (click)="loadAll()" [disabled]="isLoading" class="btn btn-info me-2">
        <fa-icon [spin]="isLoading" icon="sync"></fa-icon>
        <span jhiTranslate="soldeManagement.home.refreshListLabel">Actualiser la liste</span>
      </button>
      <button [routerLink]="['./new']" class="btn btn-primary jh-create-entity">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="soldeManagement.home.createLabel">Créer un nouvel utilisateur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="soldes != null" class="table-responsive">
    <table aria-describedby="solde-conges-management-page-heading" class="table table-striped">
      <thead>
      <tr (sortChange)="transition()" [(ascending)]="ascending" [(predicate)]="predicate" jhiSort>
        <th jhiSortBy="id" scope="col"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="user" scope="col"><span jhiTranslate="soldeManagement.user">Langue</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="year" scope="col"><span jhiTranslate="soldeManagement.year">Email</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th jhiSortBy="solde" scope="col"><span jhiTranslate="soldeManagement.solde">Login</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="soldes">
      <tr *ngFor="let solde of soldes; trackBy: trackIdentity">
        <td>
          <a [routerLink]="['./', solde.id, 'view']">{{ solde.id }}</a>
        </td>
        <td>{{ solde.user }}</td>
        <td>{{ solde.year }}</td>
        <td>{{ solde.solde }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button [routerLink]="['./', solde.id, 'edit']" class="btn btn-primary btn-sm" queryParamsHandling="merge"
                    type="submit">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
            </button>

            <button (click)="deleteType(solde)" class="btn btn-danger btn-sm" type="button">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="soldes">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        (pageChange)="transition()"
        [(page)]="page"
        [boundaryLinks]="true"
        [collectionSize]="totalItems"
        [maxSize]="5"
        [pageSize]="itemsPerPage"
        [rotate]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
